*{
    font-family: 'Ubuntu Condensed', sans-serif;
};

.head {
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    .fa-apple {
        color: #fff;
        font-size: 30px;
    }
    .rightmenu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 25%;
        .search{
            display: flex;
        }
        .btn_exit{
            background: none;
            border: none;
            text-align: center
        };
        .btn_exit:last-of-type a {
            color: #fff;
        };
        .cart{
            position: relative;
            width: 35px;
            height: 30px;

            .fa-opencart{
                width: 100%;
                height: 100%;
                font-size: 20px;
                color: white;
                background-color: black;
                border: none;
                cursor: pointer;
            }

            .fa-opencart:hover{
                border: 1px solid white;
                border-radius: 20%;
            }

            .cart_window{
                position: absolute;
                width: 500px;
                height: 700px;
                background-color: #fff;
                border: 1px solid black;
                border-radius: 30px;
                right: -45px;
                top: 35px;
                display: none;
                z-index: 5;
                background: #bbbbbbe0;

                .cart_window_info {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;

                    width: 100%;
                    height: 100%;

                    .cart_window_productList {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content:space-around;
                        text-align: center;
                        background-color: #7f7f7f;
                        border-radius: 5%;
                        margin-top: 10%;
                        

                        .cart_window_img {
                            width: 15%;
                            object-fit: cover;
                        };

    
                        .cart_window_productName{
                            width: 32.5%;
                        };
    
                        .cart_window_count {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            text-align: center;
                            width: 17.5%;


                            .quantity_inner * {
                                box-sizing: border-box;    
                            }    
                            .quantity_inner {
                                display: inline-flex;
                                border: 3px solid #000000;
                                position: relative;
                                border-radius: 50% 0;
                                height: 30px;
                                width: 40px;
                                background: #7f7f7f;
                            }        
                            .quantity_inner .bt_minus,
                            .quantity_inner .bt_plus,
                            .quantity_inner .quantity {
                                height: 15px;
                                width: 15px;
                                padding: 0;
                                border: 0;
                                margin: 0;
                                background: transparent;
                                cursor: pointer;
                                outline: 0;
                                position: absolute;    
                            }
                            .quantity_inner .bt_minus,
                            .quantity_inner .bt_plus {

                                width: 20px;
                                left: 40px;
                                bottom: 20px;
                            }
                            .quantity_inner .bt_minus {
                                top: 15px;
                            }
                            .quantity_inner .bt_buy {
                                position: absolute;
                                background: #7f7f7f;    
                                padding: 0;
                                border: 3px solid #000000;    
                                bottom: 8px;
                                right: 20px;
                                border-radius: 50%;
                                height: 35px;
                                width: 35px;
                                outline: 0;    
                                transition: 0.5s;
                            }
                            .quantity_inner .bt_buy:hover {
                                cursor: pointer;    
                                border: 3px solid #050505;    
                            }
                            .quantity_inner .bt_buy:hover svg {
                                stroke: #FFF;
                            }
                            .quantity_inner .quantity {
                                width: 20px;
                                bottom: 6px;
                                left: 10px;
                                text-align: center;
                                font-size: px;
                                font-weight: bold;
                                color: #000;
                                margin-right: 30px;
                                font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
                            }
                            .quantity_inner .bt_minus svg,
                            .quantity_inner .bt_plus svg {
                                stroke: #010101;
                                stroke-width: 2;
                                transition: 0.5s;
                                fill: none;    
                            }
                            .quantity_inner .bt_buy svg {
                                stroke: #000000;
                                stroke-width: 3;
                                transition: 0.5s;
                                fill: none;    
                                width: 15px;
                                height: 26БзЮБ/зЮpx;
                            }
                            .quantity_inner .bt_minus:hover svg,
                            .quantity_inner .bt_plus:hover svg {
                                stroke: #000;
                            }
                        };
    
                        .cart_window_price {
                             width: 20%;
                        };
    
                        .cart_window_delete{
                            width: 5%;
                            object-fit: cover;
                            cursor: pointer;
                        };
                    };
                };
                .cart_btn_close {
                    position: absolute;
                    right: 210px;
                    top: 15px;
                    display: block;
                    position: absolute;
                    right: 20px;
                    width: 24px;
                    height: 24px;
                    padding: 0;
                    cursor: pointer;
                    opacity: 1;
                };
                .cart_btn_close:hover{
                    background: red;
                    border-radius: 50%;
                };  

                .cart_window_btn{
                    width: 100%;
                    height: 10%;
                    display: flex;
                    justify-content: space-around;

                    align-items: center;
                    text-align: center;

                    .cart_window_buy, 
                    .cart_window_clear{
                        cursor: pointer;
                        border: 1px solid #000;
                        background-color: #7f7f7f;
                        border-radius: 20%;
                        text-align: center;
                        justify-content: space-around;
                        padding: 1.5%;
                        color: #FFF;
                    };

                    .cart_window_buy{
                        padding: 1.5% 3%;
                    };
                    
                    .cart_window_buy:hover{
                        background-color: green;
                        padding: 2.5% 4%;
                    }; 
                    .cart_window_clear:hover {
                        background-color: red;  
                        padding: 2.5%;
                    };
                };

            };              
        };
    };
};
