*{
    font-family: 'Ubuntu Condensed', sans-serif;
    margin: 0;
    padding: 0;
};

.wrapper {
    background: repeating-radial-gradient(circle, #111111, #2d2d2d 10px, #343434 10px, #313131 20px);
};

.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    background-color: rgb(42 42 42 / 88%);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:space-between;
}

.main {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
};

.left_bar {
    width: 18%;
    background: linear-gradient(to right, #3c3b3b00,#7c7c7c00,#6e6e6e00,#61616100, #3c3c3c00, #eeebeb0c);
    padding-top: 2%;

    .catalog {
        max-width: 98%;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        margin-left: 2%;
    }

    .catalog li {
        width: 80%;
        height: 2.5%; 
        display: flex;
        align-items: center;
        margin-top: 15px;
        background-color: #fff; 
        border-radius: 4px;
    };

    .catalog a {
        display: flex;
        align-items: center;
        width: 100%;
        padding-right: 10px;
        color: #111111;
    };
    .catalog a:hover {
        color: #8f8f8f;
    };

    .catalog img {
        width: 10%;
        height: 20%;
        display: flex;
        justify-content: center;
        margin-left: 10px;
        margin-right: 15px;
    };

};

.content{
    width: 82%;
    background: linear-gradient(to right, #eeebeb0c, #3c3c3c61, #6e6e6e0b, #29292921, #32313111);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2%;
    
    .slide{
        width: 100%;
        background-color: rgb(0 0 0 / 5%);

        .carousel-item {
            height: 500px;
        };
    
        .carousel-item img {
            object-fit: contain;
            height: 100%;
        };
    
        .carousel-caption {
            background: rgb(20 20 20 / 30%);
            // background: #0000004d;
            border-radius: 10px;
        };
    };

    .header {
        color: #fff;
    };

    .cards {
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        .card {
            width: 29.3%;
            height: 400px;
            background-color: #fff;
            margin: 2%;
        };

    };
};